body {background-color: rgb(199, 133, 35);
    background-image: url("rough-beige-stucco-surface.jpg")}

header { font-size: 28px; 
        background-color: rgb(86, 156, 86);  
        margin-inline: 15px;
        margin-bottom: 15px;
        
        }

h1 {text-align: center;
     padding: 20px;
    }

h2 {text-align: center;
background-color: rgb(190, 47, 47);
font-size: 38px;
    margin-inline: 100px;
    padding: 15px;}

ul {font-size: 18px;
    line-height: 25px;}

#wrapper {background-color: rgb(255, 223, 223);
        ; 
            min-width: auto; 
            max-width: 1000px; 
            margin: 0 auto;
            border-style: solid;
            border-radius: 5px;
            border-width: 5px;
            border-color: rgb(65, 50, 23);}